
.dropDownToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa !important;
    color: #16181b !important;
    padding: 4px 16px 4px 8px;
    border: none;
}
.dropDownItem{
    padding: 8px 16px;
    font-size: 16px;
}
.dropDownItem:hover, .dropDownItem:active, .dropDownItem:focus{
    border: none;
    background-color: #f8f9fa;
    color: #16181b;
    outline: none;
    border-radius: 0px;
}
.dropDownToggle:hover, .dropDownToggle:active {
    background-color:#2E2E2E !important;
    color: white !important;
    border: none;
}
.dropDownToggle::after {
    margin-left: 16px !important;
}

.dropDownMenu {
    right: 0 !important;
    left: auto !important;
    transform: unset !important;

    border-radius: 8px;
    border: 1px solid #E6E9ED;
    box-sizing: border-box;
}

.dropDownToggle {
    background-color: #2E2E2E;
    color: white;
    border: none;
    /* padding: 0; */
}

.dropDownToggle:focus {
    box-shadow: none;
}

