.mainBodyContainer {
  display: flex;
  flex-direction: column;
  width:100%;
}
.mainContainerTop{
  display:flex;
  justify-content:space-between;
  align-items: center;
  background-color:#16181b;
  background: #F8F9FA;
  height:100px;
  min-width:100%;
  padding: 0% 8% 0% 8%;
}
.mainContainerTop > h1{
  font-size: 50px;
}
.filters{
  display:flex;
  justify-content: space-between;
  align-items:center;
  width:400px;
}
